<h1>Vista del FINDONE</h1>

<div class="row">
	<div class="col-md-8 col-md-offset-2 text-center">
		<!-- <% _.each(News, function(n){ %>
			<ul>
				<li>Titulo: <%= n.subject %></li>
				<li>Mensaje: <%= n.message %></li>
				<li>Creado el: <%= n.fecha %></li>				
			</ul>
		<% }) %> -->

		<ul>
			<li>Titulo: <%= subject %></li>
			<li>Mensaje: <%= message %></li>
			<li>Creado el: <%= fecha %></li>
			<li>Actualizado el: <%= fechaUpdate %></li>				
		</ul>

	</div>
</div>